.portfolio-sidebar-list-wrapper {

    .portfolio-item-thumb {
        padding: 21px;

        .portfolio-thumb-img img {
            width: 100%;
        }
    }

    .text-content {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .title {
            color: $cloudy;
            font-size: 1.5em;
            margin-left: 21px;
        }

        .delete-icon {
            cursor: pointer;
            color: $cloudy;
            font-size: 1.5em;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $stop-sign;
            }
        }

        .edit-icon {
            cursor: pointer;
            color: $cloudy;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $open-sky;
            }
        }
    }

    
}